.header {
  background: linear-gradient(90deg, #B5175A -25.1%, #7221A4 110.69%);

  p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #EFF0F6;
  }
}